*
{
    box-sizing: border-box;
    background-color: black;
   
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
#ip{
    padding: 30px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: -5px 5px 6px rgb(80, 78, 78);
    margin: 50px;
    width: 600px;
    color: white;
}
#btn
{
padding: 28px;
font-size:35px;
border-radius: 10px;
color: rgb(216, 24, 24);
width: 250px;
box-shadow: 3px 3px 4px white;
font-weight: bold;}
h1{
    font-size: 100px;
    justify-content: center;
    text-align: center;
    color: white;
}
h1:hover
{
    color: aqua;
    transform: scale(1.02); 
    cursor: pointer;
}
#btn:hover
{
   transform: scale(1.1);
}
#ip:hover
{
    transform: scale(1.1);

}