*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(14, 14, 16);
    color: aqua;
    line-height:5rem;
    min-height: 5rem;
}
.choice{
    height: 250px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
  
}
.choice:hover{
    cursor: pointer;
   
  
}
img{
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius:50%;padding: 25px;;

}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    font-size: 3rem;
}

#msg{
    margin-bottom: 3rem;
    font-size: 2rem;
    background-color: rgb(8, 8, 24);
    color: white;
    display: inline;
    border-radius:1rem;
    padding: 1rem;
    
}