*{
    box-sizing: border-box;
   
 
   
}
body
{
    background-color:black;
    display:flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.main
{
    height:max-content;
    width: max-content;
    background-color: rgb(34, 35, 33);
   
   
    padding: 40px;
    text-align: center;
    color: white;
    border-radius: 10px;
    
}
.box{
    border: 2px ;
    
   
    background-color: rgb(8, 6, 6);
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}
img{
    border-radius: 100%;;
}
h3{
    color: yellow;
}

